<!DOCTYPE html>
<html>
  <head>
    <title>user</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%= user.firstName %>　 <%= user.lastName %>
  </body>
</html>
